* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Gill Sans MT';
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

#game-over {
  position: absolute;
  font-size: 50px;
  color: red;
}

#board {
  background-color: black;
}

#score {
  font-size: 4em;
}
